.image {
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.text {
    padding: 10px;
    white-space: normal;
}

.image img {
    max-width: 100%; /* Ensure the image scales down on smaller screens */
}

.button {
    justify-content: center;
    display: flex;
}

@media (max-width: 768px) {
    .image,
    .text {
        padding: 5px;
    }
}
